@font-face {
  font-family: JetBrainsMono ;
  src: url(font/fonts/ttf/JetBrainsMono-Regular.ttf);
}


body {
  background-color: rgb(40, 40, 40);
  background-size: 100%;
  padding-top: 0px;
  margin: 0px;
}

.nav_bar {
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 20%;
}

.nav_box {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-around;
  height: 40px;
  padding-right: 40px;
}

.main_menu {
  padding-top: 10px;
  padding-left: 10px;
  text-align: start;
}
.menu {
  padding-top: 13px;
  margin-right: 10px;
  text-align: center;
  height: 70%;
  width: 80px;
  color: white;
  font-size: 10px;
}

.menu:hover {
  background-color: rgba(28, 29, 31, 0.761);
}

.information_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  color: #fff;
  display: flex;
  justify-content: center;
  text-shadow: 3px 2px #3c3c3c;
}

.passionate {
  padding-left: 40px;
  color: #fff;
  width: 100%;
  display: inline-flex;
}

.passionate .animationText {
  margin-left: 10px;
  height: 29.27px;
  overflow: hidden;
}

.animationText li {
  list-style: none;
  padding-top: 7px;
  padding-right: 10px;
  font-size: 20px;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -137px;
  }
}
.animationText li span {
  position: relative;
}

.animationText li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  border-left: 1px rgb(255, 255, 255) solid;
  animation: typing 2s steps(50) infinite;
}

@keyframes typing {
  100% {
    left: 109%;
  }
}
